# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.xml
*.iml
*.cmake
*.bin
*.c
*.txt
*.check_cache
*.log
course1/Laba1/Postfix/cmake-build-debug/CMakeFiles/Makefile2
*.make
*.cxx
*.includecache
course1/Laba1/Postfix/cmake-build-debug/Makefile
*.marks
course1/Laba1/Quack/cmake-build-debug/CMakeFiles/Makefile2
*.rsp
*.cbp
*.internal
**/cmake-build-debug/
**/.idea/